[Desktop Entry]
Version=1.0
Type=Application
Name=Browser
Comment=My Browser
Exec=myterminal -e 'mybrowser'
Icon=web-browser
Path=
Terminal=false
StartupNotify=false
