[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal
Comment=My Terminal
Exec=myterminal
Icon=utilities-terminal
Path=~
Terminal=false
StartupNotify=false
