[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=FileManager
X-XFCE-CommandsWithParameter=myfilemanager "%s"
Icon=Thunar
Type=Application
Name=myfilemanager
X-XFCE-Commands=myfilemanager
