[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=TerminalEmulator
X-XFCE-CommandsWithParameter=myterminal "%s"
Icon=utilities-terminal
Type=Application
Name=myterminal
X-XFCE-Commands=myterminal
